<div class="ribbonbtn l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 id="Wtext" class="content-head content-head-ribbon">Where would you like to work out?</h2>

        <select id="indoorOutdoorSelect">
            <option selected="true" value="indoor">Indoor</option>
            <option value="outdoor">Outdoor</option>
        </select>
        </br>
        <!-- Google map showing local gyms or parks based on user selection -->
        <iframe id="map" width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key={{googleApiKey}}&q=gym"></iframe>
    </div>
</div>

<div class="content">
    <h2 class="content-head is-center"> Category </h2>

    <form>
        <select id="categorySelect">
            <option selected="true" disabled="disabled">Select Here</option>
            <option value="abdominals">Abdominals</option>
            <option value="abductors">Abductors</option>
            <option value="adductors">Adductors</option>
            <option value="biceps">Biceps</option>
            <option value="calves">Calves</option>
            <option value="chest">Chest</option>
            <option value="forearms">Forearms</option>
            <option value="glutes">Glutes</option>
            <option value="hamstrings">Hamstrings</option>
            <option value="lats">Lats</option>
            <option value="lower back">Lower back</option>
            <option value="middle back">Middle back</option>
            <option value="neck">Neck</option>
            <option value="quadriceps">Quadriceps</option>
            <option value="shoulders">Shoulders</option>
            <option value="stationary">Stationary</option>
            <option value="traps">Traps</option>
            <option value="treadmill">Treadmill</option>
            <option value="triceps">Triceps</option>
        </select>
    </form>



</div>

<div class="ribbons l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        {{!-- Place where the full workout will be displayed,
        based on what the user displays and then saves --}}
        <h2 id="fulltext" class="content-head content-head-ribbon">Exercises to choose from</h2>

        <div>
            {{!-- Div that will display text if no exercises are found --}}
            <div id="noExercisesFound"></div>

            {{!-- Div that will display a selection of exercises if any are found --}}
            <div id="exerciseDisplay"></div>
        </div>

        {{!-- ------------------------------------------ --}}
        {{!-- REVISE THIS BUTTON LOCATION --}}
        <button id="savebtn" type="button">Save Workout</button>
        {{!-- ------------------------------------------ --}}

    </div>
</div>



{{!-- ------------------------------------------ --}}
{{!-- NEEDS A DIFFERENT COLOR SCHEME --}}
{{!-- ------------------------------------------ --}}
<div class="ribbons l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        {{!-- Place where the full workout will be displayed,
        based on what the user displays and then saves --}}
        <h2 id="fulltext" class="content-head content-head-ribbon">Built workout!</h2>


        {{!-- ------------------------------------------ --}}
        {{!-- ALL THE STORED EXERCISES GO HERE --}}
        {{!-- ------------------------------------------ --}}
        {{!-- SAVE WORKOUT BUTTON GOES HERE --}}
        {{!-- ------------------------------------------ --}}


    </div>
</div>