<div class="ribbonbtn l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 id="Wtext" class="content-head content-head-ribbon">Where would you like to work out?</h2>

        <select id="indoorOutdoorSelect">
            <option selected="true" value="indoor">indoor</option>
            <option value="outdoor">outdoor</option>
        </select>
        </br>
        <!-- Google map showing local gyms or parks based on user selection -->
        <iframe id="map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key={{googleApiKey}}&q=gym"></iframe>
    </div>
</div>

<div class="content">
    <h2 class="content-head is-center"> Category </h2>

    <form>
        <select id="categorySelect">
            <option selected="true" disabled="disabled">Select Here</option>
            <option value="abdominals">abdominals</option>
            <option value="abductors">abductors</option>
            <option value="adductors">adductors</option>
            <option value="biceps">biceps</option>
            <option value="calves">calves</option>
            <option value="chest">chest</option>
            <option value="forearms">forearms</option>
            <option value="glutes">glutes</option>
            <option value="hamstrings">hamstrings</option>
            <option value="lats">lats</option>
            <option value="lower back">lower back</option>
            <option value="middle back">middle back</option>
            <option value="neck">neck</option>
            <option value="quadriceps">quadriceps</option>
            <option value="shoulders">shoulders</option>
            <option value="stationary">stationary</option>
            <option value="traps">traps</option>
            <option value="treadmill">treadmill</option>
            <option value="triceps">triceps</option>
        </select>
    </form>



</div>

<div class="ribbons l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 id="fulltext" class="content-head content-head-ribbon">FULL Workout</h2>

        <div>
            {{!-- linking category --}}


            {{!-- WHEN an exercises is saved, it gets displayed here with all the others --}}



        </div>

        <button id="savebtn" type="button">Save Workout</button>
    </div>
</div>






{{!-- <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 class="content-head content-head-ribbon">Exercises to choose from!</h2>

        <div>
            {{!-- linking category --}}


{{!-- PLACE WHERE THE RANDOM EXERCISES GET DISPLAYED --}}
{{!-- Each exercise will have a save button --}}


</div>
</div>
</div> --}}