<div class="header">
    <div class="container">
        <h1>Saved Workouts</h1>
        <div id="savedDisplay">
            {{!-- This will be the display of the saved workouts --}}
        </div>
    </div>


</div>