<div class="header">
    <h1>Saved Workouts</h1>
</div>
{{!-- 
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Map</a>
    <a href="#">List</a>
</div> --}}

<div class="row">
    <div class="column">
        <h2>Map</h2>
        <div class="container-fluid">
            {{!-- map link --}}
        </div>
    </div>

    <div class="column">
        <h2>Exercise List</h2>
        <div class="list">
            <ul class="a">

            </ul>
        </div>
    </div>

</div>