{{!-- this entire file is html content that will be placed in the body --}}

<h1>Hello world, handlebars style!</h1>

<img src="img/TennisTemp.png" alt+"Tennis Temporary Pic for Testing" width="400" height="400">

<h2>Burger Testing</h2>
{{#each burgers}}
    <p>{{burger_name}}</p>
{{/each}}