{{!-- this entire file is html content that will be placed in the body --}}

{{!-- --------------------------------------- --}}



<div class="splash-container">
    <div>
        {{!-- Temp logout button location --}}
        <a id="logout" href="/logout">logout</a>
    </div>
    <div class="splash hero-image">

        <div class="hero-text">
            {{!-- <img src="img/blueUrchin.jpg" id="frontImage"> --}}
            <h1>Welcome <span class="member-name"></span></h1>
            {{!-- <h1 class="splash-head">Lets get healthy!</h1>
            <p class="splash-subhead">
            </p> --}}
            {{!-- <p>
                    <a href="" class="pure-button pure-button-primary">Log in</a>
                </p> --}}

        </div>
    </div>
</div>

<div class="mobile">
    <div class="content-wrapper">

        <div class="first l-box-lrg">
            <div class="text-center">

                <h2 id="firstbnt" class="content-head content-head-ribbon">Please Select</h2>

                <button class="nbtn" type="button">Make a NEW Workout</button>
                <button class="sbtn" type="button">See your SAVED Workouts</button>

            </div>
        </div>
        <div class="workoutDiv" id="newWorkoutDiv" data-show="0" style="display: none">
            {{> newwo}}
        </div>

        <div class="workoutDiv" id="savedWorkoutDiv" data-show="0" style="display: none">
            {{> savedwo}}
        </div>

        <div>
        </div>


    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>